/**
 * style.scss
 * 
 * @Author  : dtysky(dtysky@outlook.com)
 * @Date    : 2023/5/23 16:10:00
 */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 4rem;
}
